@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/image1.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #bbb0a038;
    border: 2px solid #bbb0a0da;
    color: #ffffff;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover{
    transform: scale(1.2);
}

.intro-text {
    background-color: #e8d9c6;
    color: #453d32;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url("../img/image2.jpg");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #6d655938;
    border: 2px solid #bbb0a01f;
    color: #f1ece4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #e8d9c6;
    color: #453d32;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #dfb688 ;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem; 
}

.footer ul li a{
    color: #191919;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #e2cfcf;
    /* transform: scale(1.2);*/
}



.origin-image {
    background-attachment: fixed;
    background-image: url("../img/image3.jpg");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #6d655938;
    border: 2px solid #bbb0a01f;
    color: #f1ece4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #88a9b2;
    color: #453d32;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
